@model List<UserMessage>

@{
    ViewData["Title"] = "Sent";
    List<User> users = ViewBag.users;
}

<h1>Sent Messages</h1>

<br />
    
@if (Model.Count!=0)
{
    <section class="contain">
@foreach (var item in Model) {
            User receivingUser = users.Where(n => n.UserId == item.ReceivingUserId).SingleOrDefault();
            <div class="message">
            <div class="message_heading">
                  <b>To: @receivingUser.Username - @item.Messages.publishedDate</b>
                  <div>
                    @Html.ActionLink("Edit", "EditMessage", new { id = item.MessId }, new { @class = "success_btn"})
                     @Html.ActionLink("Delete", "DeleteMessage", new { id = item.MessId }, new { @class = "delete_btn", onclick = "return confirm('are you sure to delete this Message ')" })
                  </div>
            </div>
            <p>@item.Messages.messBody</p>
            @if (@item.Messages.respnose != null)
              {
                  <p class="reply"><b>Message Response</b><br>@item.Messages.respnose</p>    
              }
        </div>
    }
    </section>
}

    else
    {
        <h1>There is No Messeges</h1>
    }
    <a style="margin-top:10px" class="primary_btn" asp-action="Index">Back to Inbox</a>